.input[type="file"]::file-selector-button {
  border: 2px solid #6c5ce7;
  padding: 0.2em 0.4em;
  border-radius: 0.2em;
  background-color: #a29bfe;
  transition: 1s;
}

.input[type="file"]::file-selector-button:hover {
  background-color: #81ecec;
  border: 2px solid #00cec9;
}

.A {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 100px;
  /* margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); */
}

.inputUpload {
  width: 50% !important;
}

.line1 {
  font-size: 35px;
  text-align: center;
  font-weight: 700;
  margin: auto;
  color: #880085;
  text-transform: uppercase;
  margin: 20px;
}

.line2 {
  font-size: 25px;
  text-align: center;
  margin: auto;
  color: black;
  text-transform: uppercase;
  margin: 10px;
}
